#timer-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

/* Esconde o corpo da página por padrão */
body {
    display: none;
}

/* Classe que será adicionada via JS se o acesso for permitido */
body.acesso-liberado {
    display: block;
}